.navbar {
  height: 60px;
  background-color: #242426;
  padding: 0 1rem;
  border-bottom: 1px solid #474a4d;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

svg {
  fill: #525357;
  width: 20px;
  height: 20px;
}

svg:hover {
}

.dropdown {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 300px;
  transform: translateX(-45%);
  background-color: #b2b2c5;
  border: #474a4d 1px solid;
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
  transition: all 500ms;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background 500ms;
  padding: 1 rem;
  font-size: small;
}

.menu-item:hover {
  background-color: #ffa800;
}

.icon-right {
  margin-left: auto;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-activ {
  transform: translateX(0%);
  transition: all 250ms ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 250ms ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-activ {
  transform: translateX(0%);
  transition: all 250ms ease;
}

.menu-secondary-exit {
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 250ms ease;
}
