svg {
  width: 35px;
  height: 35px;
  color: black;
}

.dropdown {
  position: absolute;
  top: 140px;
  left: 85%;
  width: 300px;
  transform: translateX(-45%);
  background-color: white;
  border: #474a4d 1px solid;
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
  transition: height 500ms ease;
  z-index: 10;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  transition: background 500ms;
  padding: 1 rem;
  font-size: large;
  color: black;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #ffa800;
  padding-left: 1rem;
}

.icon-right {
  margin-left: auto;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-150%);
}

.menu-primary-enter-activ {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 500ms ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-activ {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-secondary-exit {
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 500ms ease;
}
